body {
    font-family: "Helvetica Neue", sans-serif;
}

#title {
    text-align: center;
}

#content {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prefiller {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
}

#prefiller summary {
    display: list-item;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
